.__json-pretty__ {
    line-height: 1.3;
    /* color: #66d9ef; */
    background: rgba(221, 214, 254, 1);
    overflow: auto;
}

.__json-pretty__ .__json-key__ {
    /* color: #f92672; */
    color: rgba(109, 40, 217, 1)
}

.__json-string__ {
    color: rgba(76, 29, 149, 1)
}